@import '/src/styles/mixins'

.formWrapper
    margin: 20px 0
    padding: 20px
    width: 100%

.inputs
    display: flex
    justify-content: space-between
    width: inherit

.inputWrapper:not(:last-child)
    margin-right: 3%

.todoNameField
    width: 50%
    @include adaptive(medium)
        width: 35%

.coinsField
    width: 18%
    @include adaptive(medium)
        width: 20%

.checkboxWrapper
    margin-right: 0

.actions
    display: flex
    justify-content: flex-end
    width: 100%
    margin-top: 30px

.actions > button
    margin-left: 20px
