@import '/src/styles/vars'

.formWrapper
    margin: 20px 0
    padding: 20px
    width: 100%

.inputs
    display: flex
    justify-content: space-between
    width: inherit

.inputWrapper
    margin-right: 10px

.todoNameField
    width: 50%

.coinsField
    width: 18%

.checkboxWrapper
    margin-right: 0

.actions
    display: flex
    justify-content: flex-end
    width: 100%
    margin-top: 30px

.actions > button
    margin-left: 20px
