// // pallete 1
// $blue: #05386B
// $dark_green: #379683
// $green: #5cdb95
// $light_green: #8ee4af
// $beige: #edf5e1

// // pallete 2
// $darkest_blue: #0c0032
// $dark_blue: #190061
// $blue: #240090
// $light_blue: #3500d3
// $dark_grey: #282828

// // pallete 3
// $black: #17252a
// $dark_green: #2b7a78
// $green: #3aafa9
// $light_green: #def2f1
// $white: #feffff

// colors
$primary: #61892f
$primary_light: #86c232
$secondary: #222629

$disabled_dark: #474b4f
$disabled: #6b6e70
$disabled_light: #a1a1a1

$black: #222629
$white: #e6e6e6

// screens
$medium: 992px
$small: 600px

// elements
$sidebar_large: 18vw
$sidebar_medium: 25vw
$sidebar_small: 100%

$p_large: 1.1vw
$p_medium: 1.8vw