@import '/src/styles/mixins.sass'

.account_bankInfo
    color: $disabled_light
    font-weight: 400

.account_historyWrapper
    max-width: 50vw
    padding: 20px
    margin-top: 4vw
    @include adaptive(small)
        max-width: 100%

.account_historyTitle
    font-weight: 400

.account_history
    position: relative
    margin-top: 25px!important

.account_history::before
    content: ''
    position: absolute
    top: -10px
    left: 0
    right: 0
    height: 1px
    background-color: #f3f3f3

.account_noHistory
    max-width: 50vw
    font-weight: 400
    color: $disabled_light
