@import '/src/styles/vars.sass'

.mmTooltip_wrapper
    position: relative
    z-index: 100

.mmTooltip_icon
    display: flex
    align-items: center
    justify-content: center
    padding: 5px

.mmTooltip_wrapper:hover
    .mmTooltip_text
        opacity: 1

.mmTooltip_text
    opacity: 0
    position: absolute
    top: 5px
    left: 40px
    padding: 5px
    border-radius: 3px
    width: 30vw
    background-color: #d4d4d4
    color: #868686
    transition: 1s all
