@import '/src/styles/mixins'

.contentWrapper
    width: 63vw
    max-width: 800px
    @include adaptive(small)
        width: 100%

.list
    padding: 20px
    display: flex
    flex-direction: column
    align-items: center
    width: 100%

.noToDos
    width: 100%
    text-align: center
    padding: 40px
    color: $disabled_light
