@import '/src/styles/mixins'

.listItem
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    &:not(:last-child)
        margin-bottom: 20px

.listItemLeft
    display: flex
    align-items: center
    width: 80%
    > p
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap

.listItemLeft
    @include adaptive(small)
        width: 60%

.titleDisabled
    opacity: 0.3

.coins
    color: #3fc438
    &.notUseful
        color: red

.coins.disabled
    opacity: 0.3

.modalText
    margin-bottom: 20px
