@import '/src/styles/vars'

.authWrapper
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    min-height: 100vh
    background-color: $secondary
    color: $white

.loginDescr
    color: $disabled
    margin-bottom: 30px

.metamaskLink
    color: $disabled
    //  color: #e16d33

.installMMModalText
    margin-bottom: 20px
    color: $secondary
    text-align: center
    line-height: 150%

.metamaskModalLink
    color: #e16d33
