@import '/src/styles/vars'

.authWrapper
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    min-height: 100vh
    background-color: $secondary
    color: $white

.loginDescrWrapper
    display: flex
    align-items: center
    margin-bottom: 30px

.loginDescr
    color: $disabled

.metamaskLink
    color: $disabled
    //  color: #e16d33

.modalText
    margin-bottom: 20px
    color: $secondary
    text-align: center
    line-height: 150%
    max-width: 500px

.metamaskModalLink
    color: #e16d33

.aboutMM
    display: flex
    justify-content: center
    align-items: center
